.flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-primary-center {
  justify-content: center;
}

.flex-secondary-center {
  align-items: center;
}
.center-vertical {
  display: flex;
}

.push {
  flex: 1;
}
