.flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-primary-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-column-item {
  display: flex;
  flex-direction: column;
}
.flex-secondary-center {
  align-items: center;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.center {
  @extend .flex-item;
  @extend .flex-primary-center;
}

.bottom-right {
  align-self: flex-end;
  margin-top: 15px;
}
.push {
  flex: 1;
}
.match-parent {
  width: 100%;
}

.close-to-full-height {
  height: 90%;
}

.router-link {
  height: 100%;
  text-decoration: none;
  margin: 0 10px;
}
