.flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-primary-center {
  justify-content: center;
}

.flex-column-item {
  display: flex;
  flex-direction: column;
}
.flex-secondary-center {
  align-items: center;
}
.center-vertical {
  display: flex;
}

.bottom-right {
  align-self: flex-end;
  margin-top: 15px;
}
.push {
  flex: 1;
}
