$TEXT_COLOR: #07bd44;
$BORDER_COLOR: #6add91;
$FILL_COLOR: #07c748;

$TEXT_HOVER_COLOR: #06a93d;

$primary-color: $FILL_COLOR;
$nav-bar-height: 60px;
$secondary-color: #6799FE;
$secondary-font-color: white;
$third-color: #768DC8;
$disabled-color: #ccc;


$progress-bar-color: #07bd12;
$progress-bar-height: 5px;